@import "tailwindcss";

.theme-light {
  --color-primary: #b45309; /* amber-700 */
  --color-secondary: #f87171; /* red-400 */
  --color-accent: #fdba74; /* orange-300 */
  --color-background: #fafafa; /* zinc-50 */
  --color-text-primary: #18181b; /* zinc-900 */
  --color-text-muted: #525252; /* zinc-600 */
  --color-border: #e4e4e7; /* zinc-200 */
}

/* Dark theme variables */
.theme-dark {
  --color-primary: #fbbf24; /* amber-400 */
  --color-secondary: #fca5a5; /* red-300 */
  --color-accent: #fb923c; /* orange-400 */
  --color-background: #18181b; /* zinc-900 */
  --color-text-primary: #f4f4f5; /* zinc-100 */
  --color-text-muted: #a1a1aa; /* zinc-400 */
  --color-border: #3f3f46; /* zinc-700 */
}
